<footer class="site-footer">

  <div class="wrapper">



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="cp-right">©robertwang</li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
          <ul class="contact-list inline">
              <li><a class="btn-link" href="mailto:{{ site.email }}">mail</a></li>
              <li><a class="btn-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a></li>
              <li><a class="btn-link" href="https://github.com/{{ site.github_username }}">github</a></li>
          </ul>
      </div>
    </div>

  </div>

</footer>
